@tailwind base;
@tailwind components;
@tailwind utilities;

/* Desenvolvedores */
.bg-logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Ajustes para o modal da Mary UI */
.modal-box {
    max-width: 600px;
    width: 90%;
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

/* Estilos para o drawer em dispositivos mobile*/
/* Estilos para o drawer responsivo */
#main-drawer {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    transition: left 0.3s ease;
    z-index: 1000;
}

#main-drawer.open {
    left: 0;
}

/* Ajustes para o botão de menu no mobile */
.btn-menu-mobile {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1100;
}
/*******************************************/
