@tailwind base;
@tailwind components;
@tailwind utilities;

/* Desenvolvedores */
.bg-logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Ajustes para o modal da Mary UI */
.modal-box {
    max-width: 600px;
    width: 90%;
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}
